@model SameDayServicezFinal.Models.PortalList


@foreach (var item in Model.ProjectAcceptance)
{
    var messsageGuid = Guid.NewGuid();


    <div class="modal fade" id="ModalProjectAcceptance_@messsageGuid" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h7 class="modal-title" id="messageModalLabel">Congratulations your application has been accepted. </h7>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table style="width:100%">
                        <tr>
                            <th>Project Title</th>
                            <th>Project Timeline</th>

                        </tr>
                        <tr>
                            <td style="color:#015668 !important">@item.Project.ProjectTitle</td>
                            <td style="color:#015668 !important">
                                <span style="color:#015668 !important;display:inline">
                                    @{
                                        switch (@item.Project.Duration)
                                        {
                                            case 1:
                                                <text>Short Term</text>
                                                break;

                                            case 2:
                                                <text>Long Term</text>
                                                break;

                                            case 3:
                                                <text>Proposal</text>
                                                break;
                                        }


                                    }

                                    / Day(s) Needed :@item.Project.NumberOfDaysHelpIsNeeded
                                </span>
                            </td>

                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary " data-senders-id="" data-receiver-id="">Accept</button>
                    <button type="button" class="btn btn-primary " data-senders-id="" data-receiver-id="">Can Start Now?</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#ModalProjectAcceptance_@messsageGuid').modal('show');
    </script>
}

