@model SameDayServicezFinal.Models.Project
@using SameDayServicezFinal.Utils
@using Microsoft.AspNet.Identity


<style>
     #map {
        height: 42vh;
        width: 100%;
        min-height: 100%;
        max-height: none
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="height:100%">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>







<script>

    var lastWindow = null;
    var last_Window = null;
    var markers = new Array();
    var map;
    var addresess = new Array();

    function mapAddress(addresses, type) {
        var geocoder = new google.maps.Geocoder();
        var mapOptions = {
            zoom: 7,
            // this is centered over the state of iowa
            center: { lat: 41.8780025, lng: -93.09770200000003 },
            gestureHandling: 'cooperative',
            scaleControl: true,
            streetViewControl: false,
            mapTypeControl: false
        };

        var mapStyles = [
                {
                    "stylers": [
                        {
                            "hue": "#ff1a00"
                        },
                        {
                            "invert_lightness": true
                        },
                        {
                            "saturation": -80
                        },
                        {
                            "lightness": 33
                        },
                        {
                            "gamma": 0.5
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "hue": "#ff0000"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2D333C"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },

        ];


            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            map.set('styles', mapStyles);

            var latlng = new google.maps.LatLng(addresses[0][1], addresses[0][2]);

                        @{
                            if (!(bool)Session["IsInContractorMode"])
                            {
                                <text>
                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: latlng,
                                    icon: '/content/images/logo.ico',                                  
                                    animation: google.maps.Animation.DROP
                                });
                                var bounds = new google.maps.LatLngBounds();
                                bounds.extend(latlng);
                                map.setCenter(bounds.getCenter());
                                map.setZoom(11);
                                </text>
                            }
                            else
                            {
                                <text>
                                var cityCircle = new google.maps.Circle({
                                    strokeColor: '#FF0000',
                                    strokeOpacity: 0.5,
                                    strokeWeight: 1,
                                    fillColor: '#AA0000',
                                    fillOpacity: 0.2,
                                    map: map,
                                    center: latlng,
                                    radius: 8046.72
                                });


                                var bounds = new google.maps.LatLngBounds();
                                bounds.extend(latlng);
                                map.setCenter(bounds.getCenter());
                                map.setZoom(11);
                                 </text>
                            }
                          }




    }

    function initProjectsMap() {

        addresess.push(['map', '@Model.latitude',' @Model.longitude']);

        mapAddress(addresess, 'p');
    }

    function center_map(map,markers) {
        // vars
        var bounds = new google.maps.LatLngBounds();
        // loop through all markers and create bounds
        $.each(markers, function(i, marker) {
            var latlng = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
            bounds.extend(latlng);
        });
        // only 1 marker?
        if (markers.length == 1) {
            // set center of map
            map.setCenter(bounds.getCenter());
            map.setZoom(16);
        } else {
            // fit to bounds
            map.fitBounds(bounds);
        }
    }


    $(document).ready(function () {
        initProjectsMap();
    });
</script>







