@model SameDayServicezFinal.Models.PortalList

@{
    ViewBag.Title = "My Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/profile.css" rel="stylesheet" />
<script src="~/Scripts/profile.js"></script>
<script src="~/Scripts//bootstrap-checkbox.js"></script>


<div class="page">
    <!-- Main Navbar-->
    @Html.Partial("_PortalMenu", Model.ApplicationUser)

    <div class="page-content d-flex align-items-stretch">
        <div class="content-inner" style="padding-bottom: 59px;padding-top: 30px;">
            @Html.Partial("_ProfileChat", Model)
            <!-- Page Footer-->
            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p> </p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>Version 1.0.0</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


</div>

