USE [sameday01]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/28/2019 2:03:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MainCatName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [MainCatName]) VALUES (3, N'Able Seamen (merchant mariners)')
INSERT [dbo].[Categories] ([Id], [MainCatName]) VALUES (4, N'Academic Deans')
INSERT [dbo].[Categories] ([Id], [MainCatName]) VALUES (5, N'Academic Deans-Registrar')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
