


    <h2 class="text-capitalize text-center  text-light">HOW IT WORKS</h2>
    <div class="container-fluid">
        <row>
            <div class="col-8 mx-auto text-light">
                <p>
                    On our website you have 2 options you can either be a client or a contractor. Within your profile you can select which role you would like to be on a day to day basis. The difference between a client and a contractor is a client is looking to hire a contractor to accomplish a project or task. A contractor on the other hand is looking for a project to complete. Each member has the ability to be a client looking for help one day and be a contractor looking for work the next.  You can also select if you are available for work each day as a contractor. By indicating you are ready for work, clients will be able to see that you are ready to work Today. Hence, you are in fact a SameDayServicez provider. The client will be able to find you by searching for available contractors with your specific skills.
                </p>
            </div>
        </row>

        <row>
            <div class="col-8 mx-auto text-light">
                <p>
                    As a client you have the ability to create a project you need samedayservicez for in your dashboard. Here you will write a description of your project, upload photos, indicate how many contractors/individuals are needed for your project, and how you would like to compensate contractors such as hourly, by the project or by a project proposal.
                </p>
            </div>
        </row>

        <row>
            <div class="col-8 mx-auto text-light">
                <p>
                    After creating a project it will be listed and searchable by all of our members at which time interested contractors can view your project and determine if they want to apply for it. Once a contractor has applied for your project you will receive an email, and be notified through the dashboard so that you can view all of the contractors credentials and approve or reject the contrator.

                </p>
            </div>
        </row>


        <row>
            <div class="col-8 mx-auto text-light">
                <p>
                    In the link to the applicants profile you will have the opportunity to contact applicants. Depending on the terms/ requirements of the project and ultimately the customer’s preference an interview may or may not occur or be scheduled. During this stage customers and applicants can negotiate wages/ or compensation for the project / or position. You may also want to define expectations and/or requirements of the project. Immediately following this process an applicant will be hired. At which time you can discuss exact times and location of the project. Once you have chosen a contractor and approved them on your project dashboard. The contractor will also have to accept the terms and wages/ compensation rate.

                </p>
            </div>
        </row>
    </div>








