HOW IT WORKS


    <p>
        On our website you have 2 options you can either be a custmer or a contractor. Within your profile you can select which role you would like to be o a day to day basic.
        The diffenece between a customer and a contrator is a customer is looking to hire a contractor to accomplish a project or task.
        A contractor on the other hand is looking to work for a customer. Each member has the abbilty to select which role they would like to be in through their profile and
        whether they are looking to hire help or become the hired help. You can also select whether you are for hire or off work as a contractor.
    </p>

    <p>
        As a customer you have the abilty to create a project you need <b>samedayservicez</b> for in your dashboard. Here you will write a description of your project,upload photos,
        indicate how many contractors/individuals are needed for your project or job,and how you would like to pay such as hourly,by the project or by a bid.
    </p>

    <p>
        After offering the project your project will be listed and searchable by all of our contractors at which time interested contractors can view your project and determine if they
        want to apply for your project. Once a contractor has applied for your project you will recive an email notifying you that you have applicants to review and approve.

    </p>